<style>
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
</style>


<div id="contents">
	<div class="select_form">
        <%= form_tag maps_index_url, :method => 'get' do %>
    		<%= select_tag :facility_id, options_from_collection_for_select(@facilities, "id", "name", :selected => params[:facility_id]) %>
    		<%= submit_tag 'Search', :name => nil %>
		<% end %>
    </div>
	<div class="search_form">
        <%= form_tag maps_index_url, :method => 'get' do %>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", :name => nil %>
        <% end %>
    </div>
    
    <div style = "background:url('<%= image_path 'skku_map.jpg' %>') no-repeat 0 0" >
  		<% if @select == '1' %>
  			<img src=<%= image_path 'map1.png' %> alt="기본맵" width="967" height="447" usemap="#Map" />
  		<% elsif @select == '2' %>
  			<img src=<%= image_path 'map2.png' %> alt="국민은행ATM 맵" width="967" height="447" usemap="#Map" />
				<map name="Map" id="Map">
		  			<div class="tooltip">
		  				<area href="#nth10" data-bLocationId="14" alt="교수회관(4)" coords="349,117,347,108,366,103,423,127,421,150,408,156,386,152,385,137,351,117" shape="poly">
						<span class="tooltiptext">1st floor</span>
					</div>
					<div class="tooltip">
						<area href="#nth14" data-bLocationId="22" alt="경영관(33)" coords="330,182,385,161,382,140,367,126,326,109,305,119,304,138,305,144,320,148,313,152,330,182" shape="poly">
						<span class="tooltiptext">1st basement</span>
					</div>
				</map>
		<% elsif @select == '3' %>
		  	<img src=<%= image_path 'map3.png' %> alt="신한은행ATM 맵" width="967" height="447" usemap="#Map" />
				<map name="Map" id="Map">
		  			<div class="tooltip">
		  				<area href="#nth12" data-bLocationId="20" alt="퇴계인문관(31)" coords="234,147,236,131,255,117,244,115,248,113,246,89,232,79,196,95,190,105,189,128,235,147" shape="poly">
		  				<span class="tooltiptext">1st floor</span>
					</div>
				</map>
		<% elsif @select == '4' %>
		  	<img src=<%= image_path 'map4.png' %> alt="우리은행ATM 맵" width="967" height="447" usemap="#Map" />
				<map name="Map" id="Map">
				<div class="tooltip">
		  			<area href="#nth6" data-bLocationId="6" alt="국제관(9)" coords="696,294,696,291,727,283,726,272,711,262,707,247,696,235,685,232,679,229,649,240,650,258,654,270,697,290" shape="poly">
					<span class="tooltiptext">1st floor</span>
				</div>
				<div class="tooltip">
					<area href="#nth7" data-bLocationId="12" alt="600주년기념관(1)" coords="599,271,647,259,645,221,578,186,563,194,554,201,538,211,544,216,543,248,599,273" shape="poly">
					<span class="tooltiptext">1st floor</span>
				</div>
				<div class="tooltip">
					<area href="#nth8" data-bLocationId="16" alt="중앙학술정보관(도서관)(7)" coords="523,191,568,178,561,166,566,161,564,130,537,113,482,134,481,153,496,160,497,167,511,180,520,190" shape="poly">
					<span class="tooltiptext">3rd floor</span>
				</div>
				<div class="tooltip">
					<area href="#nth9" data-bLocationId="17" alt="학생회관(8)" coords="463,268,450,265,450,256,485,237,499,249,499,258,470,271,465,269" shape="poly">
					<span class="tooltiptext">3rd floor</span>
				</div>
				<div class="tooltip">
					<area href="#nth10" data-bLocationId="14" alt="교수회관(4)" coords="349,117,347,108,366,103,423,127,421,150,408,156,386,152,385,137,351,117" shape="poly">
					<span class="tooltiptext">1st floor</span>
				</div>
				<div class="tooltip">
					<area href="#nth11" data-bLocationId="21" alt="다산경제관(32)" coords="269,96,286,85,301,97,308,97,325,104,307,121,304,135,297,138,296,120,281,110,270,111,269,97" shape="poly">
					<span class="tooltiptext">1st floor</span>
				</div>
				<div class="tooltip">
					<area href="#nth14" data-bLocationId="22" alt="경영관(33)" coords="330,182,385,161,382,140,367,126,326,109,305,119,304,138,305,144,320,148,313,152,330,182" shape="poly">
					<span class="tooltiptext">1st basement</span>
				</div>
				<div class="tooltip">
					<area href="#nth16" data-bLocationId="23" alt="수선관(61)" coords="212,221,207,150,193,151,185,153,161,160,156,156,135,162,130,216,160,219,167,229,210,221" shape="poly">
					<span class="tooltiptext">7th floor</span>
				</div>
				<div class="tooltip">
					<area href="#nth17" data-bLocationId="24" alt="수선관별관(62)" coords="155,154,156,137,174,134,186,145,188,150,166,158,158,154" shape="poly">
					<span class="tooltiptext">5th floor</span>
				</div>
				<div class="tooltip">
					<area href="#nth20" data-bLocationId="13" alt="법학관(2)" coords="161,288,204,282,157,216,133,221,114,263,116,282,162,289" shape="poly">
					<span class="tooltiptext">1st floor</span>
				</div>
			</map>
		<% elsif @select == '5' %>
			<img src=<%= image_path 'map5.png' %> alt="카페맵" width="967" height="447" usemap="#Map" />
				<map name="Map" id="Map">
		  			<div class="tooltip">
						<area href="#nth12" data-bLocationId="20" alt="퇴계인문관(31)" coords="234,147,236,131,255,117,244,115,248,113,246,89,232,79,196,95,190,105,189,128,235,147" shape="poly">
						<span class="tooltiptext">1st floor</span>
					</div>
					<div class="tooltip">
						<area href="#nth8" data-bLocationId="16" alt="중앙학술정보관(도서관)(7)" coords="523,191,568,178,561,166,566,161,564,130,537,113,482,134,481,153,496,160,497,167,511,180,520,190" shape="poly">
						<span class="tooltiptext">1st floor</span>
					</div>
					<div class="tooltip">
						<area href="#nth10" data-bLocationId="14" alt="교수회관(4)" coords="349,117,347,108,366,103,423,127,421,150,408,156,386,152,385,137,351,117" shape="poly">
						<span class="tooltiptext">1st floor</span>
					</div>
					<div class="tooltip">
						<area href="#nth6" data-bLocationId="6" alt="국제관(9)" coords="696,294,696,291,727,283,726,272,711,262,707,247,696,235,685,232,679,229,649,240,650,258,654,270,697,290" shape="poly">
						<span class="tooltiptext">1st floor</span>
					</div>
					<div class="tooltip">
						<area href="#nth14" data-bLocationId="22" alt="경영관(33)" coords="330,182,385,161,382,140,367,126,326,109,305,119,304,138,305,144,320,148,313,152,330,182" shape="poly">
						<span class="tooltiptext">2nd basement<br>3rd basement</span>
					</div>
				</map>
		<% elsif @select == '6' %>
			<img src=<%= image_path 'map6.png' %> alt="식당맵" width="967" height="447" usemap="#Map" />
				<map name="Map" id="Map">
		  			<div class="tooltip">
						<area href="#nth7" data-bLocationId="12" alt="600주년기념관(1)" coords="599,271,647,259,645,221,578,186,563,194,554,201,538,211,544,216,543,248,599,273" shape="poly">
						<span class="tooltiptext">6th floor<br>1st basement</span>
					</div>
					<div class="tooltip">
						<area href="#nth10" data-bLocationId="14" alt="교수회관(4)" coords="349,117,347,108,366,103,423,127,421,150,408,156,386,152,385,137,351,117" shape="poly">
						<span class="tooltiptext">1st floor</span>
					</div>
					<div class="tooltip">
						<area href="#nth20" data-bLocationId="13" alt="법학관(2)" coords="161,288,204,282,157,216,133,221,114,263,116,282,162,289" shape="poly">
						<span class="tooltiptext">2nd basement</span>
					</div>
					<div class="tooltip">
						<area href="#nth14" data-bLocationId="22" alt="경영관(33)" coords="330,182,385,161,382,140,367,126,326,109,305,119,304,138,305,144,320,148,313,152,330,182" shape="poly">
						<span class="tooltiptext">2nd basement</span>
					</div>
				</map>
		<% elsif @select == '7' %>
			<img src=<%= image_path 'map7.png' %> alt="편의점맵" width="967" height="447" usemap="#Map" />
				<map name="Map" id="Map">
		  			<div class="tooltip">
						<area href="#nth8" data-bLocationId="16" alt="중앙학술정보관(도서관)(7)" coords="523,191,568,178,561,166,566,161,564,130,537,113,482,134,481,153,496,160,497,167,511,180,520,190" shape="poly">
						<span class="tooltiptext">1st floor</span>
					</div>
					<div class="tooltip">
						<area href="#nth9" data-bLocationId="17" alt="학생회관(8)" coords="463,268,450,265,450,256,485,237,499,249,499,258,470,271,465,269" shape="poly">
						<span class="tooltiptext">3rd floor</span>
					</div>
					<div class="tooltip">
						<area href="#nth20" data-bLocationId="13" alt="법학관(2)" coords="161,288,204,282,157,216,133,221,114,263,116,282,162,289" shape="poly">
						<span class="tooltiptext">2nd basement</span>
					</div>
					<div class="tooltip">
						<area href="#nth14" data-bLocationId="22" alt="경영관(33)" coords="330,182,385,161,382,140,367,126,326,109,305,119,304,138,305,144,320,148,313,152,330,182" shape="poly">
						<span class="tooltiptext">3rd basement</span>
					</div>
					<div class="tooltip">
						<area href="#nth16" data-bLocationId="23" alt="수선관(61)" coords="212,221,207,150,193,151,185,153,161,160,156,156,135,162,130,216,160,219,167,229,210,221" shape="poly">
						<span class="tooltiptext">5th basement</span>
					</div>
					<div class="tooltip">
						<area href="#nth12" data-bLocationId="20" alt="퇴계인문관(31)" coords="234,147,236,131,255,117,244,115,248,113,246,89,232,79,196,95,190,105,189,128,235,147" shape="poly">
						<span class="tooltiptext">2nd floor</span>
					</div>
				</map>
		<% elsif @select == '8' %>
			<img src=<%= image_path 'map8.png' %> alt="복사실맵" width="967" height="447" usemap="#Map" />
				<map name="Map" id="Map">
		  			<div class="tooltip">
						<area href="#nth8" data-bLocationId="16" alt="중앙학술정보관(도서관)(7)" coords="523,191,568,178,561,166,566,161,564,130,537,113,482,134,481,153,496,160,497,167,511,180,520,190" shape="poly">
						<span class="tooltiptext">3rd floor</span>
					</div>
					<div class="tooltip">
						<area href="#nth20" data-bLocationId="13" alt="법학관(2)" coords="161,288,204,282,157,216,133,221,114,263,116,282,162,289" shape="poly">
						<span class="tooltiptext">2nd basement</span>
					</div>
					<div class="tooltip">
						<area href="#nth14" data-bLocationId="22" alt="경영관(33)" coords="330,182,385,161,382,140,367,126,326,109,305,119,304,138,305,144,320,148,313,152,330,182" shape="poly">
						<span class="tooltiptext">1st basement</span>
					</div>
					<div class="tooltip">
						<area href="#nth17" data-bLocationId="24" alt="수선관별관(62)" coords="155,154,156,137,174,134,186,145,188,150,166,158,158,154" shape="poly">
						<span class="tooltiptext">7th basement</span>
					</div>
				</map>
		<% elsif @select == '9' %>
			<img src=<%= image_path 'map9.png' %> alt="여자휴게실맵" width="967" height="447" usemap="#Map" />
				<map name="Map" id="Map">
		  			<div class="tooltip">
						<area href="#nth11" data-bLocationId="21" alt="다산경제관(32)" coords="269,96,286,85,301,97,308,97,325,104,307,121,304,135,297,138,296,120,281,110,270,111,269,97" shape="poly">
						<span class="tooltiptext">1st floor</span>
					</div>
					<div class="tooltip">
						<area href="#nth20" data-bLocationId="13" alt="법학관(2)" coords="161,288,204,282,157,216,133,221,114,263,116,282,162,289" shape="poly">
						<span class="tooltiptext">2nd basement</span>
					</div>
					<div class="tooltip">
						<area href="#nth9" data-bLocationId="17" alt="학생회관(8)" coords="463,268,450,265,450,256,485,237,499,249,499,258,470,271,465,269" shape="poly">
						<span class="tooltiptext">4th floor</span>
					</div>
				</map>
		<% elsif @select == '10' %>
			<img src=<%= image_path 'map10.png' %> alt="분실물맵" width="967" height="447" usemap="#Map" />
				<map name="Map" id="Map">
		  			<div class="tooltip">
						<area href="#nth7" data-bLocationId="12" alt="600주년기념관(1)" coords="599,271,647,259,645,221,578,186,563,194,554,201,538,211,544,216,543,248,599,273" shape="poly">
						<span class="tooltiptext">1st floor</span>
					</div>
				</map>
		<% elsif @select == '11' %>
			<img src=<%= image_path 'map11.png' %> alt="노트북렌탈맵" width="967" height="447" usemap="#Map" />
				<map name="Map" id="Map">
		  			<div class="tooltip">
						<area href="#nth11" data-bLocationId="21" alt="다산경제관(32)" coords="269,96,286,85,301,97,308,97,325,104,307,121,304,135,297,138,296,120,281,110,270,111,269,97" shape="poly">
						<span class="tooltiptext">4th floor</span>
					</div>
				</map>
		<% elsif @select == '12' %>
			<img src=<%= image_path 'map12.png' %> alt="컴퓨터실맵" width="967" height="447" usemap="#Map" />
				<map name="Map" id="Map">
		  			<div class="tooltip">
						<area href="#nth8" data-bLocationId="16" alt="중앙학술정보관(도서관)(7)" coords="523,191,568,178,561,166,566,161,564,130,537,113,482,134,481,153,496,160,497,167,511,180,520,190" shape="poly">
						<span class="tooltiptext">3rd floor</span>
					</div>
					<div class="tooltip">
						<area href="#nth11" data-bLocationId="21" alt="다산경제관(32)" coords="269,96,286,85,301,97,308,97,325,104,307,121,304,135,297,138,296,120,281,110,270,111,269,97" shape="poly">
						<span class="tooltiptext">5th floor<br>4th floor</span>
					</div>
					<div class="tooltip">
						<area href="#nth14" data-bLocationId="22" alt="경영관(33)" coords="330,182,385,161,382,140,367,126,326,109,305,119,304,138,305,144,320,148,313,152,330,182" shape="poly">
						<span class="tooltiptext">2nd floor</span>
					</div>
					<div class="tooltip">
						<area href="#nth16" data-bLocationId="23" alt="수선관(61)" coords="212,221,207,150,193,151,185,153,161,160,156,156,135,162,130,216,160,219,167,229,210,221" shape="poly">
						<span class="tooltiptext">6th basement</span>
					</div>
				</map>	
		<% elsif @select == '13' %>
			<img src=<%= image_path 'map13.png' %> alt="프린트(흑백)맵" width="967" height="447" usemap="#Map" />
				<map name="Map" id="Map">
		  			<div class="tooltip">
						<area href="#nth12" data-bLocationId="20" alt="퇴계인문관(31)" coords="234,147,236,131,255,117,244,115,248,113,246,89,232,79,196,95,190,105,189,128,235,147" shape="poly">
						<span class="tooltiptext">7th floor<br>6th floor<br>5th floor</span>
					</div>
					<div class="tooltip">
						<area href="#nth11" data-bLocationId="21" alt="다산경제관(32)" coords="269,96,286,85,301,97,308,97,325,104,307,121,304,135,297,138,296,120,281,110,270,111,269,97" shape="poly">
						<span class="tooltiptext">5th floor<br>4th floor</span>
					</div>
					<div class="tooltip">
						<area href="#nth14" data-bLocationId="22" alt="경영관(33)" coords="330,182,385,161,382,140,367,126,326,109,305,119,304,138,305,144,320,148,313,152,330,182" shape="poly">
						<span class="tooltiptext">2nd floor</span>
					</div>
					<div class="tooltip">
						<area href="#nth16" data-bLocationId="23" alt="수선관(61)" coords="212,221,207,150,193,151,185,153,161,160,156,156,135,162,130,216,160,219,167,229,210,221" shape="poly">
						<span class="tooltiptext">6th basement</span>
					</div>
					<div class="tooltip">
						<area href="#nth8" data-bLocationId="16" alt="중앙학술정보관(도서관)(7)" coords="523,191,568,178,561,166,566,161,564,130,537,113,482,134,481,153,496,160,497,167,511,180,520,190" shape="poly">
						<span class="tooltiptext">3rd floor</span>
					</div>
					<div class="tooltip">
						<area href="#nth11" data-bLocationId="21" alt="다산경제관(32)" coords="269,96,286,85,301,97,308,97,325,104,307,121,304,135,297,138,296,120,281,110,270,111,269,97" shape="poly">
						<span class="tooltiptext">5th floor<br>4th floor</span>
					</div>
					<div class="tooltip">
						<area href="#nth8" data-bLocationId="16" alt="중앙학술정보관(도서관)(7)" coords="523,191,568,178,561,166,566,161,564,130,537,113,482,134,481,153,496,160,497,167,511,180,520,190" shape="poly">
						<span class="tooltiptext">3rd floor</span>
					</div>
					<div class="tooltip">
						<area href="#nth11" data-bLocationId="21" alt="다산경제관(32)" coords="269,96,286,85,301,97,308,97,325,104,307,121,304,135,297,138,296,120,281,110,270,111,269,97" shape="poly">
						<span class="tooltiptext">5th floor<br>4th floor</span>
					</div>
					<div class="tooltip">
						<area href="#nth8" data-bLocationId="16" alt="중앙학술정보관(도서관)(7)" coords="523,191,568,178,561,166,566,161,564,130,537,113,482,134,481,153,496,160,497,167,511,180,520,190" shape="poly">
						<span class="tooltiptext">3rd floor</span>
					</div>
					<div class="tooltip">
						<area href="#nth11" data-bLocationId="21" alt="다산경제관(32)" coords="269,96,286,85,301,97,308,97,325,104,307,121,304,135,297,138,296,120,281,110,270,111,269,97" shape="poly">
						<span class="tooltiptext">5th floor<br>4th floor</span>
					</div>
				</map>
		<% elsif @select == '14' %>
			<img src=<%= image_path 'map14.png' %> alt="프린트(칼라)맵" width="967" height="447" usemap="#Map" />
				<map name="Map" id="Map">
		  			<div class="tooltip">
						<area href="#nth8" data-bLocationId="16" alt="중앙학술정보관(도서관)(7)" coords="523,191,568,178,561,166,566,161,564,130,537,113,482,134,481,153,496,160,497,167,511,180,520,190" shape="poly">
						<span class="tooltiptext">3rd floor</span>
					</div>
				</map>
		<% elsif @select == '15' %>
			<img src=<%= image_path 'map15.png' %> alt="독서실맵" width="967" height="447" usemap="#Map" />
				<map name="Map" id="Map">
		  			<div class="tooltip">
						<area href="#nth12" data-bLocationId="20" alt="퇴계인문관(31)" coords="234,147,236,131,255,117,244,115,248,113,246,89,232,79,196,95,190,105,189,128,235,147" shape="poly">
						<span class="tooltiptext">2nd floor</span>
					</div>
					<div class="tooltip">
						<area href="#nth8" data-bLocationId="16" alt="중앙학술정보관(도서관)(7)" coords="523,191,568,178,561,166,566,161,564,130,537,113,482,134,481,153,496,160,497,167,511,180,520,190" shape="poly">
						<span class="tooltiptext">4th floor<br>3rd floor<br>2nd floor<br>1st floor</span>
					</div>
					<div class="tooltip">
						<area href="#nth11" data-bLocationId="21" alt="다산경제관(32)" coords="269,96,286,85,301,97,308,97,325,104,307,121,304,135,297,138,296,120,281,110,270,111,269,97" shape="poly">
						<span class="tooltiptext">4th floor<br>3rd floor</span>
					</div>
					<div class="tooltip">
						<area href="#nth6" data-bLocationId="6" alt="국제관(9)" coords="696,294,696,291,727,283,726,272,711,262,707,247,696,235,685,232,679,229,649,240,650,258,654,270,697,290" shape="poly">
						<span class="tooltiptext">2nd basement</span>
					</div>
					<div class="tooltip">
						<area href="#nth14" data-bLocationId="22" alt="경영관(33)" coords="330,182,385,161,382,140,367,126,326,109,305,119,304,138,305,144,320,148,313,152,330,182" shape="poly">
						<span class="tooltiptext">1st basement</span>
					</div>
					<div class="tooltip">
						<area href="#nth20" data-bLocationId="13" alt="법학관(2)" coords="161,288,204,282,157,216,133,221,114,263,116,282,162,289" shape="poly">
						<span class="tooltiptext">3rd floor</span>
					</div>
				</map>
		<% elsif @select == '16' %>
			<img src=<%= image_path 'map16.png' %> alt="스캐너맵" width="967" height="447" usemap="#Map" />
				<map name="Map" id="Map">
		  			<div class="tooltip">
						<area href="#nth11" data-bLocationId="21" alt="다산경제관(32)" coords="269,96,286,85,301,97,308,97,325,104,307,121,304,135,297,138,296,120,281,110,270,111,269,97" shape="poly">
						<span class="tooltiptext">4th floor</span>
					</div>
					<div class="tooltip">
						<area href="#nth8" data-bLocationId="16" alt="중앙학술정보관(도서관)(7)" coords="523,191,568,178,561,166,566,161,564,130,537,113,482,134,481,153,496,160,497,167,511,180,520,190" shape="poly">
						<span class="tooltiptext">3rd floor</span>
					</div>
		<% end %>
	</div>
</div>