<h1>회원가입</h1>
<%= form_for @user do |f| %>
    E-mail : <%= f.email_field :email %><br>
    Password : <%= f.password_field :password %><br>
    Password confirmation : <%= f.password_field :password_confirmation %><br>
    Nickname : <%= f.text_field :nickname %><br>
    <!--소속 캠퍼스 : < %= f.text_field :campus %><br> 아래와 같은 라디오버튼은 어떨까요?-->
    Campus : <br>
    Humanities and Social Sciences Campus (Seoul) <%= f.radio_button :campus, "0", :checked => true %> <br>
                  Natural Sciences Campus (Suwon) <%= f.radio_button :campus, "1" %><br>
    Nationality :<%= select_tag(:nationality, options_for_select([['Asia', 'Asia'], ['Europe', 'Europe'],['Africa','Africa'],['Oceania','Oceania'],['North America','North America'],['South America','South America']],6)) %> <br>
    <%= f.submit '회원가입' %>
<% end %>