<div id= "content">
    <div id="posts_background">

<div class="c1"  >
    <%= form_for @post do |f| %>
        <%= f.label :title, 'Title' %>
        <%= f.text_field :title %><br>
        <%= f.label :body, 'Content' %>
        <%= f.text_area :body %>
        <%= f.submit 'Submit'%>
    <% end %>
</div>      

</div>
</div>
