카테고리: 
<%= form_tag posts_path, method: :get do %>
    <%= select_tag(:category, options_for_select([['제목', "title"], ['내용', "body"],['별명', "nickname"]])) %>
    <%= text_field_tag :search  %>  
    <%= submit_tag "검색", :name => nil %> 
    <!--:name => nil 은 대체 뭘까요? : 준엽이형이 알려줘서 해결! -->
<% end %>
<br>

<br>
<% if @posts.none? %>
  Sorry, no results... Try something else. 
<% end %> 

<% @posts.each do |post| %>
    <%= post.id %> | <a href='<%= post_path(post) %>'><%= post.title %></a> | <%= post.user.nickname %> | <%= post.category.name %><br>
<% end %>

<%= link_to '글쓰기', new_post_path %>