<div id= "content">
    <div id="posts_background">

<div class="b1">
  
        
    <div class="administer">
      <%= link_to 'Post', new_post_path %> 
     
          <% if can? :update, @post %>
            <%= link_to 'Edit', edit_post_path(@post) %>
          <% end %>
   
          <% if can? :delete, @post %>
            <%= link_to 'Delete', @post, method: :delete, data: {confirm: 'Are you sure you want to delete?' } %>
          <% end %> 
      <%= link_to 'List', posts_path %>
    </div>
    <p>
      <div class="y1"><%= @post.category.name %></div>
    </p>
    <h2>
      <div class="x1"><%= @post.title %></div>
    </h2>
    <p><div class="aaa"><%= simple_format(@post.body) %></div></p>
    
    <hr>
    
    <% @post.comments.each do |cmt| %>
    <div class="eee">
        <%= @post.user.nickname %>
    </div>
        <%= cmt.body %>
    <% end %>
    

    
    <hr>

    <%= form_for [@post, Comment.new] do |f| %>
        <%= f.text_area :body %>
        <div class="reply">
          <%= f.submit 'Reply' %>
        </div>
    <% end %>

    
    
    

    
</div>


</div>
</div>
